In [1]:
import pandas as pd
#import xlrd
import os
import re
import datetime

In [ ]:
def input_file_path():
    #cur_dir = os.getcwd()
    #print('current directory : ' + cur_dir)
    print('program exit : \'x\' press key or \'Enter\' key')
    while True:
        input_data = input('input source file path : ')
        if input_data == 'x' or input_data == '':
            break
        else:
            if os.path.exists(input_data):
                #print(input_data)
                return input_data
            else:
                print('file not found : ' + input_data)
    return ''

def get_filter_dataframe(df):
    read_columns = ['주담당채널', '영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '주문상태',
                    '주문현황', '납입구분', '상품명', '단위상품명', '사용자', '공급가', '금액(VAT별도)', '판매유형', '기회시작일']

    df1 = df[read_columns]

    # 상품명
    #product_category = {'Bizbox Alpha Cloud', 'GW 클라우드서버', 'ICUBE/GW 클라우드서버', 'IU/GW 클라우드서버'}  # 집합(중복값 불허)
    #df2 = df1[df1['상품명'].isin(product_category)]
    
    # 
    df2 = df1[(df1['상품명']=='Bizbox Alpha Cloud') & ((df1['단위상품명']=='유저 라이선스(월납)') | (df1['단위상품명']=='유저 라이선스(년납)'))]
    
    
    groupby_columns_list = ['영업채널명', '영업담당자명', '사업자/주민', '고객명', '상품명', '판매유형', '주문일자']
    grouped = df2.groupby(groupby_columns_list)
    df3 = grouped.sum().reset_index()

    df4 = df3.sort_values(by=['주문일자', '상품명', '영업채널명', '영업담당자명', '고객명'], ascending=[True, True, True, True, True])

    #'영업채널명', '영업담당자명', '사업자/주민', '고객명', '상품명', '판매유형', '공급가', '금액(VAT별도)'

    return df4

def save_excel_file(data_file_path, save_df):
    #df_dic = {'영업채널명': [], '영업담당자명':[], '사업자/주민':[], '고객명':[], '상품명':[], '판매유형':[], '공급가':[], '금액(VAT별도)':[]}
    start, ext = os.path.splitext(data_file_path)  # ('C:\\Users\\김진태\\Jupyter_Folder\\Data\\order20190401to0419.xlsx', '.xlsx')
    tail = '' + "_{:%Y%m%d%H%M%S}".format(datetime.datetime.now())  # '_20190503135732'
    save_file_name = start + tail + ext
    save_df.to_excel(save_file_name)


def save_text_file(data_file_path, save_text):
    start, ext = os.path.splitext(
        data_file_path)  # ('C:\\Users\\김진태\\Jupyter_Folder\\Data\\order20190401to0419', '.xlsx')
    tail = '' + "_{:%Y%m%d%H%M%S}".format(datetime.datetime.now())  # '_20190503135732'
    save_file_name = start + tail + '.txt'

    with open(save_file_name, 'w') as f:
        f.write(save_text)

In [2]:
data_file_path = 'C:\\Users\\김진태\\Jupyter_Folder\\Data\\BizboxAlphaCloud20180601to20190430.xlsx'
df = pd.read_excel(data_file_path, Sheet_name='주문 고객 현황')
"""
df2 = get_filter_dataframe(df)

#판매유형 별 숫자 카운트 딕셔너리
os_cnt_dic = {'신규':0, '기타':0, '업셀':0, '추가':0}
for row in df2.values:
    os_cnt_dic[row[5]] += 1
print(os_cnt_dic)

# 유일한 값을 발췌한다
df2['판매유형'].unique()
"""
#df.shape[0]
df.head(3)

,순번,구분,주담당채널,주담당부서,주담당자,영업채널명,영업부서명,영업담당자명,고객명,사업자/주민,...,영업실적율,영업실적금액,구분.1,부서명,사원명,영업실적율.1,영업실적금액.1,구분.2,부서명.1,사원명.1
0,1,지점,천안IT코디센터,천안IT코디센터,박석순,천안IT코디센터,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,지점,천안IT코디센터,천안IT코디센터,박석순,천안IT코디센터,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,지점,천안IT코디센터,천안IT코디센터,박석순,천안IT코디센터,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
read_columns = ['영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '주문상태',
                '주문현황', '납입구분', '상품명', '단위상품명', '사용자', '공급가', '금액(VAT별도)', '판매유형', '기회시작일']

df2 = df[read_columns]
print('조회 건수 : %d건' % df2.shape[0]) #406건
df2.head(5)

조회 건수 : 1435건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일
0,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,주문완료,주문완료,일시납,Bizbox Alpha Cloud,그룹웨어 교육,1.0,3000000,3000000,신규,2018-06-20
1,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,주문완료,주문완료,일시납,Bizbox Alpha Cloud,유저 라이선스(월납),15.0,300000,150000,신규,2018-06-28
2,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,주문완료,주문완료,일시납,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",1.0,12000000,12000000,신규,2018-06-20
3,투비트,김서연,형제금속산업(주),827-87-00901,2018-06-26,주문완료,주문완료,일시납,Bizbox Alpha Cloud,그룹웨어 교육,1.0,3000000,3000000,신규,2018-06-22
4,투비트,김서연,형제금속산업(주),827-87-00901,2018-06-26,주문완료,주문완료,일시납,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",1.0,12000000,12000000,신규,2018-06-22

In [41]:
#df3 = df2[(df2['상품명']=='Bizbox Alpha Cloud') & ((df2['단위상품명']=='유저 라이선스(월납)') | (df2['단위상품명']=='유저 라이선스(년납)')) & ((df2['판매유형']=='신규') | (df2['판매유형']=='업셀'))]
df3 = df2[((df2['상품명']=='Bizbox Alpha Cloud') & (df2['단위상품명']=='엔진(기본, 웹메일)') & ((df2['판매유형']=='신규') | (df2['판매유형']=='업셀')))]
print(df3['단위상품명'].unique())
print('조회 건수 : %d건' % df3.shape[0])
#print(df3['사업자/주민'].value_counts())
#df3[(df3['고객명']=='(주)퀀텀헬스케어코리아')]
df3.head(3) #247

['엔진(기본, 웹메일)']
조회 건수 : 247건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일
2,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,주문완료,주문완료,일시납,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",1.0,12000000,12000000,신규,2018-06-20
4,투비트,김서연,형제금속산업(주),827-87-00901,2018-06-26,주문완료,주문완료,일시납,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",1.0,12000000,12000000,신규,2018-06-22
10,서울1 IT코디센터,정민,리클린홀딩스 주식회사,356-88-00177,2018-06-28,주문완료,주문완료,일시납,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",1.0,12000000,12000000,신규,2018-06-28

In [43]:
# group by
#groupby_columns_list = ['주담당채널', '영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '주문상태',
#                '주문현황', '납입구분', '상품명', '단위상품명', '판매유형', '기회시작일']
groupby_columns_list = ['영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '상품명', '단위상품명', '판매유형']
grouped = df3.groupby(groupby_columns_list)
"""
for name, group in grouped:
    print(name, end=' : ')
    print(str(len(group)))
    print(group)
    print('-' * 50)
"""

# column rename
df4 = grouped.size().reset_index()
print(df4.columns)
#df4.rename(columns={'NEW_NAME':'OLD_NAME'}, inplace=True)   # 속도 느림
df4.columns = ['CNT' if x == 0 else x for x in df4.columns]    # 속도 빠름
print(df4.columns)

# sort
df4.sort_values(by=['주문일자', 'CNT'], ascending=[True, False], inplace=True)
print('조회 건수 : %d건' % df4.shape[0])
df4.head(3)

Index(['영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '상품명', '단위상품명', '판매유형', 0], dtype='object')
Index(['영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '상품명', '단위상품명', '판매유형',
       'CNT'],
      dtype='object')
조회 건수 : 247건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,판매유형,CNT
214,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1
232,투비트,김서연,형제금속산업(주),827-87-00901,2018-06-26,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1
88,서울1 IT코디센터,정민,리클린홀딩스 주식회사,356-88-00177,2018-06-28,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1

In [47]:
# group by 검증 및 확인
print(df4['CNT'].value_counts())
#print(df4[(df4['CNT']==3)])
#df[df['사업자/주민']=='609-82-68593']
#print(df4[(df4['CNT']==2)])
#df3[((df3['사업자/주민']=='135-85-47633') | (df3['사업자/주민']=='414-81-02642'))]
#df4[df4['사업자/주민']=='609-82-68593']
df4.head(3)

1    247
Name: CNT, dtype: int64

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,판매유형,CNT
214,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1
232,투비트,김서연,형제금속산업(주),827-87-00901,2018-06-26,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1
88,서울1 IT코디센터,정민,리클린홀딩스 주식회사,356-88-00177,2018-06-28,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1

In [48]:
# IT코디센터는 C로 대리점은 B로 새로운칼럼에 추가한다
channel_series = df4.apply(lambda v: 'C' if ((v[0].endswith('IT코디센터'))|(v[0]=='강원지점')|(v[0]=='제주지점')) else 'B', axis=1)   #
#df4['CB'] = channel_series
df4.loc[:, 'C_B'] = channel_series
print(df4['C_B'].value_counts())
print('조회 건수 : %d건' % df4.shape[0])
df4.head(3)

C    156
B     91
Name: C_B, dtype: int64
조회 건수 : 247건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,판매유형,CNT,C_B
214,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C
232,투비트,김서연,형제금속산업(주),827-87-00901,2018-06-26,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,B
88,서울1 IT코디센터,정민,리클린홀딩스 주식회사,356-88-00177,2018-06-28,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C

In [49]:
# 년도-월까지 잘라서 YM 칼럼에 저장한다
df4.loc[:,'YM'] = df4['주문일자'].str[0:7]
print('조회 건수 : %d건' % df4.shape[0])
df4.head(3)

조회 건수 : 247건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,판매유형,CNT,C_B,YM
214,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C,2018-06
232,투비트,김서연,형제금속산업(주),827-87-00901,2018-06-26,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,B,2018-06
88,서울1 IT코디센터,정민,리클린홀딩스 주식회사,356-88-00177,2018-06-28,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C,2018-06

In [69]:
# 월별 수주 건수 확인
s1 = df4['YM'].value_counts().sort_index(ascending=True)
s2 = df4[(df4['판매유형']=='신규')]['YM'].value_counts().sort_index(ascending=True)
s3 = df4[(df4['판매유형']=='업셀')]['YM'].value_counts().sort_index(ascending=True)
#s1.keys()
#s1.values
df_temp = pd.DataFrame({'SUM':s1, 'NEW':s2, 'UP':s3})
df_temp

         SUM  NEW    UP
2018-06    6    6   NaN
2018-07   16   16   NaN
2018-08   28   20   8.0
2018-09   25   18   7.0
2018-10   15   10   5.0
2018-11   20   13   7.0
2018-12   33   12  21.0
2019-01   19    9  10.0
2019-02   24   13  11.0
2019-03   44   21  23.0
2019-04   17    6  11.0

In [70]:
df4[((df4['YM']=='2019-04') & (df4['판매유형']=='신규'))]

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,판매유형,CNT,C_B,YM
50,부산IT코디센터,윤점혁,(주)아이티씨,603-81-36494,2019-04-24,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C,2019-04
11,경기IT코디센터,이상규,(주)글라세움,135-86-43240,2019-04-26,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C,2019-04
231,투비트,김서연,한국전기교통(주),120-81-37023,2019-04-26,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,B,2019-04
158,인천IT코디센터,김성현,(주)클레슨,121-81-26494,2019-04-29,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C,2019-04
172,전주IT코디센터,배성근,엔일렉트릭(주),209-81-55213,2019-04-30,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C,2019-04
226,투비트,김서연,넥스큐브코퍼레이션(주),120-86-61080,2019-04-30,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,B,2019-04

In [71]:
# 영업채널별 전체 발주 건수
df4['영업채널명'].value_counts().sort_values(ascending=False)

서울1 IT코디센터     20
서울4 IT코디센터     19
전주IT코디센터       18
지아이소프트랩        16
경기IT코디센터       13
서울2 IT코디센터     13
투비트            12
비즈웰            11
서울3 IT코디센터     11
인천IT코디센터       10
호남IT코디센터       10
대구/경북IT코디센터    10
천안IT코디센터       10
중부IT코디센터        8
다우아이티           7
경남IT코디센터        6
이젠솔루션           6
강원지점            5
부산IT코디센터        5
비아이             5
유니에스아이          4
하이텍라인           4
다인정보            4
아이원소프트뱅크        4
엠아이솔루션          3
울산IT코디센터        3
도움이티에스          3
오웬스그룹           2
신원이노베이션         2
솔루션베이           1
정일정보            1
비앤에스컴퍼니         1
Name: 영업채널명, dtype: int64

In [72]:
# 선택한 월에 발주한 영업채널 별 건수 조회
df5 = df4[df4['YM']=='2019-04'] #2018-08
df5['영업채널명'].value_counts().sort_values(ascending=False)

투비트           3
전주IT코디센터      2
인천IT코디센터      2
서울1 IT코디센터    2
경남IT코디센터      1
서울2 IT코디센터    1
경기IT코디센터      1
비즈웰           1
서울3 IT코디센터    1
부산IT코디센터      1
서울4 IT코디센터    1
이젠솔루션         1
Name: 영업채널명, dtype: int64

In [110]:
#columns=['영업채널명','영업담당자명','고객명','사업자/주민','주문일자','주문상태','주문현황','납입구분','상품명','단위상품명','사용자','공급가','금액(VAT별도)','판매유형','기회시작일','YM'])
# 인덱스를 YM(년월)으로 바꾸고 인덱스로 시작:종료 구간을 선택하여 조회한다
df6 = df4.copy().set_index('YM')
df6['2018-06':'2018-06']

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,판매유형,CNT,C_B
YM,,,,,,,,,,
2018-06,천안IT코디센터,김성경,(주)범진인더스트리,125-81-08329,2018-06-20,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C
2018-06,투비트,김서연,형제금속산업(주),827-87-00901,2018-06-26,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,B
2018-06,서울1 IT코디센터,정민,리클린홀딩스 주식회사,356-88-00177,2018-06-28,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C
2018-06,전주IT코디센터,신병근,새천년종합건설(주),414-81-02642,2018-06-28,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C
2018-06,전주IT코디센터,배성근,(주)삼부종합건설,402-81-20569,2018-06-29,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,C
2018-06,투비트,김서연,주식회사 넥스포,220-86-64198,2018-06-29,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",신규,1,B

In [136]:
df_temp1 = df6['2019-01':'2019-04']
print('조회 건수 : %d건' % df_temp.shape[0])

조회 건수 : 104건

In [143]:
df_temp2 = df_temp1[df_temp1['판매유형']=='신규']
df_temp3 = df_temp1[df_temp1['판매유형']=='업셀']
s1 = df_temp1['영업채널명'].value_counts().sort_values(ascending=False)
s2 = df_temp2['영업채널명'].value_counts().sort_values(ascending=False)
s3 = df_temp3['영업채널명'].value_counts().sort_values(ascending=False)
df_result = pd.DataFrame({'SUM':s1, 'NEW':s2, 'UP':s3})
df_result.sort_values(by=['SUM', 'NEW', 'UP'], ascending=False).reset_index()

          index  SUM  NEW   UP
0    서울1 IT코디센터   12  3.0  9.0
1   대구/경북IT코디센터    9  2.0  7.0
2    서울4 IT코디센터    8  2.0  6.0
3      전주IT코디센터    7  4.0  3.0
4           비즈웰    5  4.0  1.0
5    서울2 IT코디센터    5  2.0  3.0
6      경기IT코디센터    5  1.0  4.0
7    서울3 IT코디센터    5  NaN  5.0
8      경남IT코디센터    4  3.0  1.0
9           투비트    4  2.0  2.0
10        다우아이티    3  3.0  NaN
11     부산IT코디센터    3  3.0  NaN
12       엠아이솔루션    3  2.0  1.0
13        이젠솔루션    3  2.0  1.0
14     중부IT코디센터    3  2.0  1.0
15      지아이소프트랩    3  2.0  1.0
16     호남IT코디센터    3  2.0  1.0
17          비아이    3  1.0  2.0
18     천안IT코디센터    3  NaN  3.0
19        하이텍라인    2  2.0  NaN
20         강원지점    2  1.0  1.0
21       유니에스아이    2  1.0  1.0
22     인천IT코디센터    2  1.0  1.0
23         다인정보    1  1.0  NaN
24       도움이티에스    1  1.0  NaN
25     아이원소프트뱅크    1  1.0  NaN
26        오웬스그룹    1  1.0  NaN
27      비앤에스컴퍼니    1  NaN  1.0

In [142]:
df_temp = df6[(df6['판매유형']=='신규')]['2019-01':'2019-04']
print('조회 건수 : %d건' % df_temp.shape[0])
df_temp['영업채널명'].value_counts().sort_values(ascending=False)

조회 건수 : 49건

전주IT코디센터       4
비즈웰            4
경남IT코디센터       3
다우아이티          3
부산IT코디센터       3
서울1 IT코디센터     3
엠아이솔루션         2
서울4 IT코디센터     2
투비트            2
하이텍라인          2
대구/경북IT코디센터    2
이젠솔루션          2
호남IT코디센터       2
지아이소프트랩        2
서울2 IT코디센터     2
중부IT코디센터       2
유니에스아이         1
도움이티에스         1
오웬스그룹          1
아이원소프트뱅크       1
경기IT코디센터       1
비아이            1
다인정보           1
인천IT코디센터       1
강원지점           1
Name: 영업채널명, dtype: int64