In [1]:
import pandas as pd
import xlrd
import os
import re
import datetime

In [2]:
DATA_PATH = "C:\\Temp\\NsmData\\"
file_name = "BizboxA_OrgListAll_20190515.xls"
excel_file = DATA_PATH + file_name

In [3]:
if not os.path.exists(excel_file):
    print('실패! ' + excel_file + ' file not found!! ')
    print('Exists files :')
    print(os.listdir(DATA_PATH))
    #exit()

In [4]:
df = pd.read_excel(excel_file, Sheet_name='Sheet1')

In [17]:
#read_columns = ['부서명', '직급', '사원명(ID)', '휴대전화', '회사메일']
read_columns = ['부서명', '직급', '사원명(ID)', '회사메일']
df1 = df[read_columns]
print('조회 건수 : %d건' % df1.shape[0])
#df1[df1['사원명(ID)'].str.startswith('강석준')]   # 특정 사용자 검색
df1.head(3)

조회 건수 : 1421건

                        부서명  직급            사원명(ID)                      회사메일
980  더존비즈온>TS본부>경기IT코디센터>팀원  대리  강석준(firenights85)  firenights85@douzone.com

In [6]:
# 연산속도 비교 테스트
%timeit df1[df1['부서명'].str.match(r'.*IT코디센터>(센터장|팀원|팀장)$')] #IT코디센터 팀명 발췌
print('-'*30)
%timeit df1[df1['부서명'].str.contains(r'.*IT코디센터>(센터장|팀원|팀장)$', regex=True)] #IT코디센터 팀명 발췌

1.17 ms ± 23.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

2.83 ms ± 64.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
#IT코디센터, 강원지점, 제주지점 팀명 발췌
df2 = df1[df1['부서명'].str.match(r'.*(IT코디센터|강원지점|제주지점)>(센터장|팀원|팀장)$')] 
print('조회 건수 : %d건' % df2.shape[0])
df2.head(3)

조회 건수 : 178건

                    부서명  직급          사원명(ID)                   회사메일
972  더존비즈온>TS본부>강원지점>팀원  사원    박종현(cobo1113)   cobo1113@douzone.com
973  더존비즈온>TS본부>강원지점>팀원  사원  김진호A(kimjh3141)  kimjh3141@douzone.com
974  더존비즈온>TS본부>강원지점>팀장  부장     윤명현(hot8714)    hot8714@douzone.com

In [19]:

s1 = df2.loc[:, '부서명'].str.replace(r'(.*?>TS본부>)|(.*?>IT코디센터>)|((IT코디센터|지점)>(센터장|팀원|팀장)$)', '') # IT코디센터 이름만 추출하여 새컬럼에 반영
df2.loc[:, '센터명'] = s1
print('조회 건수 : %d건' % df2.shape[0])
print(df2['센터명'].value_counts())
df2.head(3)

조회 건수 : 178건
서울4      19
대구/경북    18
서울1      17
서울2      16
서울3      16
경기       13
부산       12
경남       11
인천       10
중부        9
전주        8
천안        8
호남        8
울산        7
강원        3
제주        3
Name: 센터명, dtype: int64

                        부서명  직급            사원명(ID)                      회사메일
980  더존비즈온>TS본부>경기IT코디센터>팀원  대리  강석준(firenights85)  firenights85@douzone.com

In [12]:
# 사원명 , ID 추가
df2.loc[:, '사원명'] = df2.loc[:, '사원명(ID)'].str.replace(r'[^가-힣]', '') # 한글 이름 이외 글자 제거 (한글이름, 영문제외)
df2.loc[:, 'ID'] = df2.loc[:, '사원명(ID)'].str.replace(r'([가-힣]|([a-zA-Z]\()|\(|\))', '') # 가로안의 ID이외 글자 제거
df2.head(5)

,부서명,직급,사원명(ID),회사메일,센터명,사원명,ID
972,더존비즈온>TS본부>강원지점>팀원,사원,박종현(cobo1113),cobo1113@douzone.com,강원,박종현,cobo1113
973,더존비즈온>TS본부>강원지점>팀원,사원,김진호A(kimjh3141),kimjh3141@douzone.com,강원,김진호,kimjh3141
974,더존비즈온>TS본부>강원지점>팀장,부장,윤명현(hot8714),hot8714@douzone.com,강원,윤명현,hot8714
975,더존비즈온>TS본부>경기IT코디센터>센터장,부장,김경한(threego),threego@douzone.com,경기,김경한,threego
976,더존비즈온>TS본부>경기IT코디센터>팀원,차장,김완주(hemikwj05),hemikwj05@douzone.com,경기,김완주,hemikwj05

In [197]:
# 직급코드 추가
level_categories = {'사원':'', '대리':'D', '과장':'K', '차장':'C', '부장':'B', '이사':'E', '상무':'S', '전무':'J'}

# method 1
df2.loc[:,'직급코드'] = df2['직급'].apply(lambda x : level_categories[x])   

# method 2  cf. level_categories.get('과장') return 'k'
#df2.loc[:,'직급코드']  = df2[['직급']].applymap(level_categories.get)   

print('조회 건수 : %d건' % df2.shape[0])

df2.head(3)

조회 건수 : 175건

,부서명,직급,사원명(ID),회사메일,센터명,사원명,ID,직급코드
963,더존비즈온>TS본부>강원지점>팀원,사원,박종현(cobo1113),cobo1113@douzone.com,강원,박종현,cobo1113,
964,더존비즈온>TS본부>강원지점>팀원,사원,김진호A(kimjh3141),kimjh3141@douzone.com,강원,김진호,kimjh3141,
965,더존비즈온>TS본부>강원지점>팀장,부장,윤명현(hot8714),hot8714@douzone.com,강원,윤명현,hot8714,B

In [202]:
df2.to_csv('./data/center_employee.csv', index = False, header = True, encoding='utf-8')

In [203]:
df3 = pd.DataFrame({"직급":['사원', '대리', '과장', '차장', '부장', '이사', '상무', '전무'], 
     '직급코드':['', 'D', 'K', 'C', 'B', 'E', 'S', 'J']})
df3

   직급 직급코드
0  사원
1  대리    D
2  과장    K
3  차장    C
4  부장    B
5  이사    E
6  상무    S
7  전무    J

In [140]:
df_sale = pd.DataFrame({"연봉":[100, 200, 300, 400, 500, 600, 700, 800], 
     '직급코드':['', 'D', 'K', 'C', 'B', 'E', 'S', 'J']})

In [142]:
pd.merge(df3, df_sale, on='직급코드')

   직급 직급코드   연봉
0  사원       100
1  대리    D  200
2  과장    K  300
3  차장    C  400
4  부장    B  500
5  이사    E  600
6  상무    S  700
7  전무    J  800