In [2]:
import pandas as pd
#import xlrd
import os
import re
import datetime

In [30]:
data_file_path = 'C:\\Users\\김진태\\Jupyter_Folder\\Data\\order20180101to20190430.xlsx'
df = pd.read_excel(data_file_path, Sheet_name='주문 고객 현황')
"""
df2 = get_filter_dataframe(df)

#판매유형 별 숫자 카운트 딕셔너리
os_cnt_dic = {'신규':0, '기타':0, '업셀':0, '추가':0}
for row in df2.values:
    os_cnt_dic[row[5]] += 1
print(os_cnt_dic)

# 유일한 값을 발췌한다
df2['판매유형'].unique()
"""

"\ndf2 = get_filter_dataframe(df)\n\n#판매유형 별 숫자 카운트 딕셔너리\nos_cnt_dic = {'신규':0, '기타':0, '업셀':0, '추가':0}\nfor row in df2.values:\n    os_cnt_dic[row[5]] += 1\nprint(os_cnt_dic)\n\n# 유일한 값을 발췌한다\ndf2['판매유형'].unique()\n"

In [32]:
print('조회 건수 : %d건' % df.shape[0]) # rows
df.head(3)

조회 건수 : 24017건

,순번,구분,주담당채널,주담당부서,주담당자,영업채널명,영업부서명,영업담당자명,고객명,사업자/주민,...,프로모션명,패키지 Pack 여부,전자세금계산서발행여부,관계사발행,기회시작일,경과일,활동건수,영업유형,매출국가,정산분류
0,1,지점,"서울3,4 IT코디센터(강원)",강원지점,김진호A,강원지점,강원지점,김진호A,(주) 푸드누리,215-86-56153,...,NaN,NaN,0.0,1.0,2018-08-28,0.0,0.0,인바운드,대한민국,ETC
1,2,지점,"서울3,4 IT코디센터(강원)",강원지점,김진호A,강원지점,강원지점,김진호A,(주) 푸드누리,215-86-56153,...,NaN,NaN,0.0,1.0,2018-08-28,0.0,0.0,기존고객,대한민국,ETC
2,3,지점,"서울3,4 IT코디센터(강원)",강원지점,김진호A,강원지점,강원지점,김진호A,(주) 푸드누리,215-86-56153,...,NaN,NaN,0.0,1.0,2018-08-28,0.0,0.0,인바운드,대한민국,ETC

In [33]:
print(df['상품명'].unique())
print(df['단위상품명'].unique())
print(df['판매유형'].unique())

['Smart UC(Smart A 고객용)' 'Smart Office' '기업용 Smart A Cloud edition'
 'SmartA Premium Package' 'Bizbox Alpha Cloud' 'IDC서비스'
 '(신)iCUBE Cloud Edition' 'bizbox Cloud' 'ICUBE/GW 클라우드서버' 'ICUBE 클라우드서버'
 'IU/GW 클라우드서버' 'GW 클라우드서버' 'IU 클라우드서버' '세무용 Smart A Cloud edition'
 'ICUBE/IU 클라우드서버' 'iPlus Cloud Edition' '클라우드서버' '클라우드 외부서비스'
 'iCube Private' 'Private Cloud' 'WEHAGO(기업용)' 'iU Private'
 'iCUBE-G20 Cloud Edition' '클라우드백업서버' nan]
['Smart UC(무료체험)' 'MS Office(무료체험)' 'Smart A Cloud Edition 기본 3유저(1식)'
 '유저추가' 'HDD(50GB)' '엔진(기본, 웹메일)' '양식추가' '유저 라이선스(년납)' 'IDC HW임대(소유)'
 'IDC 보안서비스' 'IDC 기본서비스' 'IDC HW임대(무소유)' 'IDC 스팸필터서비스' '유저 라이선스(월납)'
 '그룹웨어 교육' 'iCube 멤버십(인사)' 'iCube 멤버십(회계)' '유저추가(1유저)'
 '기본상품(Premium package)' 'Memory(4G)' 'Virtual CPU(2 vCore당)' '데이터안심보관서비스'
 '백신서비스(서버전용백신)' '백업서비스' '클라우드서버(기본)' 'MS SQL for DOUZONE' '웹방화벽' '보안서비스'
 '스팸필터' 'iCube 멤버십(영업)' 'iCube 멤버십(구매자재)' 'iCube 멤버십(외주)' 'iCube 멤버십(생산)'
 '보안메일' '법인카드 연동(ICUBE)' '매입 세금계산서 연동(ICUBE)' '프리미엄 데이터관리 APO백업 30G'
 '가상서버 RAM 4GB' '가상서버 HDD 50GB' '기타서비스' '스마트 자금관리' '용량 추가 (1set), 월납'
 'Maria DB' 'Smart 증빙처리' '식수관리' 'iCube 멤버십(근태)'
 'iCube Cloud Edition(기본상품)' '반제관리' '대표(부서) 메일 계정' '승인메일'
 'iCube 멤버십(의뢰/검사관리)' '양식제작' '데이터이관(자료백업서비스)' '용량추가(1G)'
 'iCube 멤버십(자동전표1)' 'RAM 4GB' '100GB SAS HDD' 'CPU 2vCore' 'Server OS'
 'Oracle DB STD' '사이베이스 DB' '서버모니터링 서비스(클라우드형(VM))' 'MS Office(유저추가)'
 'MS Office(기본상품)' 'iCube 멤버십(유상메뉴_엑셀임포트)' 'CPU(vCPU×1)'
 'iCube 멤버십(스마트SFA)' 'iCube 멤버십(원가)' 'iCube Cloud Edition(유저추가)'
 '용량 추가 (1set), 년납' '100GB SSD HDD' 'iPlus Cloud Edition 옵션상품(1user 추가)'
 'ServerV_스팸필터서비스' 'HDD(100GB)' '기타외부서비스' '클라우드서버(ServerV_기본)'
 'ServerV_보안서비스' 'ServerV_Server OS' 'ServerV_웹방화벽' 'IDC 기타서비스'
 'iCube Private 구축형' 'Private Cloud' 'WEHAGO(기업용) 기본상품'
 'IDC 백신서비스(서버전용백신)' 'VPC' 'iCUBE_G20 멤버십(인사)' 'ServerV_백신서비스(서버전용백신)'
 'ServerV_CPU 2vCore' 'ServerV_로드밸런싱 L4 Switch' 'iCUBE_G20 멤버십(회계/예산)'
 'iCube 멤버십(공사현장_자재관리)' 'Smart 공사현장관리' 'iCube 멤버십(공사현장관리)' 'APO 백업 30G'
 'iCube 멤버십(무역)' 'IDC 백업서비스(30G_부가서비스)' '추가 교육'
 'iCUBE_G20 Cloud Edition(기본상품)' 'ServerV_백업서비스' 'iCube 멤버십(유상메뉴_EXCEL연동)'
 '멀티도메인(메일)' '다국어' 'iCube 멤버십(AS)' 'iCube 멤버십(공사현장_외주관리)'
 'RAM(Memory) 4GB' 'ServerV_100GB SAS HDD ' '예산연동(ICUBE)' 'SQL'
 'ServerV_MS SQL DB STD' 'ServerV_기타'
 'Option_SQL Server Workgroup Edition' 'iCube 멤버십(금융CMS연동)'
 'iCube 멤버십(바코드)' '그룹웨어(5유저기본)+모바일' 'APC백업 30G' 'Option_HDD 100 Gb'
 '매입 세금계산서 연동(IU)' 'ServerV_Oracle DB STD' '사용자계정(추가)' 'IDC 백업서비스'
 'HW임대(무소유)' '상면_1U' 'iCube 멤버십(규격유통형)' 'iCube 멤버십(IFRS)'
 'iCube 멤버십(경영정보)' 'HDD 50GB(HDD추가)' 'iCUBE_G20 멤버십(유상메뉴_엑셀임포트)'
 'iCUBE_G20 Cloud Edition(유저추가)' '전자계약' '로드밸런싱 L4 Switch'
 'Option_vCpu x 1, Ram 2GB' 'iCube 멤버십(매입매출관리)' '프리미엄 에디션' 'HDD 50GB'
 'ServerV_트래픽 10Mbps Dedicated' '의뢰/검사관리' '가상서버 VCPU 1CORE'
 '웹메일 유저추가(1유저)' "A'talk 구축컨설팅비" '구축형' nan]
['신규' '기타' '추가' '업셀' '재주문' '보상(UP,재계약)' nan '대체출고']

In [34]:
read_columns = ['주담당채널', '영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '주문상태',
                '주문현황', '납입구분', '상품명', '단위상품명', '사용자', '공급가', '금액(VAT별도)', '판매유형', '기회시작일']

df2 = df[read_columns]
print('조회 건수 : %d건' % df2.shape[0])
df2['판매유형'].value_counts()
df2.head(3)

조회 건수 : 24017건

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일
0,"서울3,4 IT코디센터(강원)",강원지점,김진호A,(주) 푸드누리,215-86-56153,2018-08-28,주문완료,주문완료,일시납,Smart UC(Smart A 고객용),Smart UC(무료체험),10.0,0,0,신규,2018-08-28
1,"서울3,4 IT코디센터(강원)",강원지점,김진호A,(주) 푸드누리,215-86-56153,2018-08-28,주문완료,주문완료,일시납,Smart Office,MS Office(무료체험),3.0,0,0,기타,2018-08-28
2,"서울3,4 IT코디센터(강원)",강원지점,김진호A,(주) 푸드누리,215-86-56153,2018-08-28,주문완료,주문완료,일시납,기업용 Smart A Cloud edition,Smart A Cloud Edition 기본 3유저(1식),3.0,200000,2400000,신규,2018-08-28

In [35]:
# 상품명
product_category = {'ICUBE 클라우드서버', 'ICUBE/IU 클라우드서버', 'ICUBE/GW 클라우드서버', 'IU 클라우드서버', 'IU/GW 클라우드서버', 'GW 클라우드서버', '클라우드서버'}
#product_category = {'GW 클라우드서버', 'ICUBE/GW 클라우드서버', 'IU/GW 클라우드서버'}  # 집합(중복값 불허)
df3 = df2[df2['상품명'].isin(product_category)]
print('조회 건수 : %d건' % df3.shape[0])
print(df3['상품명'].value_counts())
df3.head(3)

조회 건수 : 6835건
ICUBE 클라우드서버       3392
ICUBE/GW 클라우드서버    1842
GW 클라우드서버           489
IU 클라우드서버           462
IU/GW 클라우드서버        395
클라우드서버              219
ICUBE/IU 클라우드서버      36
Name: 상품명, dtype: int64

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일
155,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,백신서비스(서버전용백신),1.0,0,360000,신규,2019-02-26
156,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,백업서비스,1.0,0,540000,신규,2019-02-26
157,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,3048000,신규,2019-02-26

In [36]:
#df['단위상품명'].unique()
print(df3.head(3).keys())
unit_product_category = {'클라우드서버(기본)'}  # 집합(중복값 불허)
df4 = df3[df3['단위상품명'].isin(unit_product_category)]
print('조회 건수 : %d건' % df4.shape[0])
df4.head(3)

Index(['주담당채널', '영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '주문상태', '주문현황',
       '납입구분', '상품명', '단위상품명', '사용자', '공급가', '금액(VAT별도)', '판매유형', '기회시작일'],
      dtype='object')
조회 건수 : 1719건

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일
157,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,3048000,신규,2019-02-26
161,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,1200000,신규,2019-02-26
179,"서울3,4 IT코디센터(강원)",강원지점,윤명현,강릉에코파워주식회사,226-81-50381,2018-07-11,주문완료,발송중,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,2268000,신규,2018-07-11

In [37]:
# 클라우드서버에는 '업셀'이 없음
df4['판매유형'].value_counts()

신규            966
기타            356
보상(UP,재계약)    147
재주문           131
추가            119
Name: 판매유형, dtype: int64

In [38]:
#df['단위상품명'].unique()
print(df4.head(3).keys())
sale_type_category = {'신규'}  # 집합(중복값 불허)
df5 = df4[df4['판매유형'].isin(sale_type_category)]
print('조회 건수 : %d건' % df5.shape[0])
df5.head(3)

Index(['주담당채널', '영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '주문상태', '주문현황',
       '납입구분', '상품명', '단위상품명', '사용자', '공급가', '금액(VAT별도)', '판매유형', '기회시작일'],
      dtype='object')
조회 건수 : 966건

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일
157,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,3048000,신규,2019-02-26
161,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,1200000,신규,2019-02-26
179,"서울3,4 IT코디센터(강원)",강원지점,윤명현,강릉에코파워주식회사,226-81-50381,2018-07-11,주문완료,발송중,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,2268000,신규,2018-07-11

In [41]:
# group by
# 상품명이 ICUBE/GW 복합형일때 단위상품명인 '클라우드서버(기본)'가 도입서버 대수만큼 있어 그룹바이 처리함
groupby_columns_list = ['영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '상품명', '단위상품명', '사용자', '판매유형', '기회시작일']
grouped = df5.groupby(groupby_columns_list)
"""
for name, group in grouped:
    print(name, end=' : ')
    print(str(len(group)))
    print(group)
    print('-' * 50)
"""

# column rename
df6 = grouped.size().reset_index()
print(df6.columns)
#df6.rename(columns={'NEW_NAME':'OLD_NAME'}, inplace=True)   # 속도 느림
df6.columns = ['CNT' if x == 0 else x for x in df6.columns]    # 속도 빠름
print(df6.columns)

# sort
df6.sort_values(by=['주문일자', 'CNT'], ascending=[False, True], inplace=True)
print('조회 건수 : %d건' % df6.shape[0])
df6.head(3)

Index([ '영업채널명', '영업담당자명',    '고객명', '사업자/주민',   '주문일자',    '상품명',  '단위상품명',
          '사용자',   '판매유형',  '기회시작일',        0],
      dtype='object')
Index(['영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '상품명', '단위상품명', '사용자',
       '판매유형', '기회시작일', 'CNT'],
      dtype='object')
조회 건수 : 811건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,사용자,판매유형,기회시작일,CNT
557,아이원소프트뱅크,이혜리,(주)젠큐릭스,206-86-57589,2019-04-30,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,2
689,제주지점,김경민A,(재)국제평화재단,616-82-18617,2019-04-30,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,2
259,서울1 IT코디센터,박광순,한국청정음료(주),127-81-12533,2019-04-30,IU/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,3

In [1]:
# IT코디센터는 C로 대리점은 B로 새로운칼럼에 추가한다
channel_series = df6.apply(lambda v: 'C' if ((v[0].endswith('IT코디센터'))|(v[0]=='강원지점')|(v[0]=='제주지점')) else 'B', axis=1)   #
#df6['CB'] = channel_series
df6.loc[:, 'C_B'] = channel_series
print(df6['C_B'].value_counts())
df6.head(3)

NameError: name 'df6' is not defined

In [91]:
# 년도-월까지 잘라서 YM 칼럼에 저장한다
df6.loc[:,'YM'] = df6['주문일자'].str[0:7]
print('조회 건수 : %d건' % df6.shape[0])
df6.head(3)

조회 건수 : 811건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,사용자,판매유형,기회시작일,CNT,C_B,YM,ICUBE,IU,GW
557,아이원소프트뱅크,이혜리,(주)젠큐릭스,206-86-57589,2019-04-30,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,2,B,2019-04,1,0,1
689,제주지점,김경민A,(재)국제평화재단,616-82-18617,2019-04-30,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,2,B,2019-04,1,0,1
259,서울1 IT코디센터,박광순,한국청정음료(주),127-81-12533,2019-04-30,IU/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,3,C,2019-04,0,1,1

In [120]:
"""
for label, content in df6.items():  #df6.iteritems():
    print(label)
    print(content)
"""
# column 추가
"""
# method 1
df6['ICUBE'] = 0
df6['IU'] = 0
df6['GW'] = 0
for product in df6['상품명']:
    #print(product, ':', end=str(type(product)))
    #print('ICUBE' in product, 'IU' in product, 'GW' in product, '\n')
    df6['ICUBE'] = 1 if 'ICUBE' in product else 0
    df6['IU'] = 1 if 'IU' in product else 0
    df6['GW'] = 1 if 'GW' in product else 0
"""

"""
# method 2
df6.loc[:, 'ICUBE'] = df6['상품명'].apply(lambda v: 1 if 'ICUBE' in v else 0)
df6.loc[:, 'IU'] = df6['상품명'].apply(lambda v: 1 if 'IU' in v else 0)
df6.loc[:, 'GW'] = df6['상품명'].apply(lambda v: 1 if 'GW' in v else 0)
"""

# method 3
for i, v in df6['상품명'].items():
    #print(i, v)
    df6.loc[i, 'ICUBE'] = 1 if 'ICUBE' in v else 0
    df6.loc[i, 'IU'] = 1 if 'IU' in v else 0
    df6.loc[i, 'GW'] = 1 if 'GW' in v else 0

p_cnt = df6['상품명'].value_counts()
print(p_cnt)
ICUBE_CNT = p_cnt['ICUBE 클라우드서버'] + p_cnt['ICUBE/IU 클라우드서버'] + p_cnt['ICUBE/GW 클라우드서버']
IU_CNT = p_cnt['IU 클라우드서버'] + p_cnt['ICUBE/IU 클라우드서버'] + p_cnt['IU/GW 클라우드서버']
GW_CNT = p_cnt['GW 클라우드서버'] + p_cnt['ICUBE/GW 클라우드서버'] + p_cnt['IU/GW 클라우드서버']
print('ICUBE = {0}, IU = {1}, GW = {2}'.format(ICUBE_CNT, IU_CNT, GW_CNT))

df6.head(3)

ICUBE 클라우드서버       455
ICUBE/GW 클라우드서버    175
GW 클라우드서버           95
IU 클라우드서버           45
IU/GW 클라우드서버        40
ICUBE/IU 클라우드서버      1
Name: 상품명, dtype: int64
ICUBE = 631, IU = 86, GW = 310

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,사용자,판매유형,기회시작일,CNT,C_B,YM,ICUBE,IU,GW
557,아이원소프트뱅크,이혜리,(주)젠큐릭스,206-86-57589,2019-04-30,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,2,B,2019-04,1,0,1
689,제주지점,김경민A,(재)국제평화재단,616-82-18617,2019-04-30,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,2,B,2019-04,1,0,1
259,서울1 IT코디센터,박광순,한국청정음료(주),127-81-12533,2019-04-30,IU/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-04-30,3,C,2019-04,0,1,1

In [121]:
# 전체 클라우드서버 월별 수주 건수 확인
s1 = df6['YM'].value_counts().sort_index(ascending=True)
print(s1)

2018-01    34
2018-02    40
2018-03    55
2018-04    55
2018-05    51
2018-06    44
2018-07    59
2018-08    43
2018-09    39
2018-10    49
2018-11    62
2018-12    78
2019-01    48
2019-02    38
2019-03    65
2019-04    51
Name: YM, dtype: int64

In [144]:
# 제품별 클라우드서버 월별 수주 건수 확인
s1 = df6[df6['ICUBE']==1]['YM'].value_counts().sort_index(ascending=True)
s2 = df6[df6['IU']==1]['YM'].value_counts().sort_index(ascending=True)
s3 = df6[df6['GW']==1]['YM'].value_counts().sort_index(ascending=True)
df_product = pd.DataFrame({'ICUBE':s1, 'IU':s2, 'GW':s3})

"""
df_icube = pd.DataFrame({'ICUBE':s1}).reset_index()
df_iu = pd.DataFrame({'IU':s2}).reset_index()
df_gw = pd.DataFrame({'GW':s3}).reset_index()
#df_s = pd.DataFrame(s1).reset_index()
df_product = pd.merge(df_icube, df_iu, on='index')
df_product = pd.merge(df_product, df_gw, on='index')
df_product
"""
#df_product['2018-02':'2018-04']
df_product

         ICUBE  IU  GW
2018-01     28   3   9
2018-02     35   2  20
2018-03     44   4  23
2018-04     46   6  18
2018-05     39   4  19
2018-06     34   4  16
2018-07     40  10  23
2018-08     33   6  16
2018-09     27   7  19
2018-10     35   6  20
2018-11     49   8  25
2018-12     56   6  38
2019-01     38   6  12
2019-02     28   5  20
2019-03     56   6  16
2019-04     43   3  16

In [149]:
#s1.keys()
#s1.values
df_temp = df6[df6['YM']=='2018-01'] #2018-08
print('조회 건수 : %d건' % df_temp.shape[0])
df_temp.head(3)

조회 건수 : 34건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,사용자,판매유형,기회시작일,CNT,C_B,YM,ICUBE,IU,GW
30,경기IT코디센터,전용기,상생협력사,204-86-02448,2018-01-31,GW 클라우드서버,클라우드서버(기본),1.0,신규,2018-01-31,1,C,2018-01,0,0,1
719,지아이소프트랩,유한선,(주)준일산업,390917-1******,2018-01-31,ICUBE 클라우드서버,클라우드서버(기본),1.0,신규,2018-01-31,1,B,2018-01,1,0,0
730,지아이소프트랩,유한선,준일산업(주),212-81-11400,2018-01-31,ICUBE 클라우드서버,클라우드서버(기본),1.0,신규,2018-01-31,1,B,2018-01,1,0,0

In [152]:
df_temp = df6[(df6['YM']=='2019-01') & (df6['GW']==1)] #2019-01
print('조회 건수 : %d건' % df_temp.shape[0])
df_temp.head(3)

조회 건수 : 12건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,단위상품명,사용자,판매유형,기회시작일,CNT,C_B,YM,ICUBE,IU,GW
69,다우아이티,오서연,사단법인전국지역문화재단연합회,871-82-00112,2019-01-31,GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-01-31,1,B,2019-01,0,0,1
218,비앤에스컴퍼니,장혜담,에스트래픽(주),144-81-09125,2019-01-31,GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-01-31,1,B,2019-01,0,0,1
559,아이원소프트뱅크,이혜리,(주)큐에스엔지니어링,120-86-43267,2019-01-31,IU/GW 클라우드서버,클라우드서버(기본),1.0,신규,2019-01-31,2,B,2019-01,0,1,1

In [153]:
# 선택한 월에 발주한 영업채널 별 건수 조회
df7 = df6[(df6['YM']=='2019-01') & (df6['GW']==1)] #2018-08
print('조회 건수 : %d건' % df7.shape[0])
df7['영업채널명'].value_counts().sort_values(ascending=False).head(100)

조회 건수 : 12건

아이원소프트뱅크       2
서울1 IT코디센터     2
도움이티에스         1
천안IT코디센터       1
비아이            1
서울2 IT코디센터     1
비앤에스컴퍼니        1
대구/경북IT코디센터    1
서울3 IT코디센터     1
다우아이티          1
Name: 영업채널명, dtype: int64

In [181]:
df_temp = pd.DataFrame({'주문일자':[], 'ICUBE':[], 'IU':[], 'GW':[]})

#df_temp['주문일자'].append('2019-01-01')
#print(df_temp)

for label, content in df7.items():  #df6.iteritems():
    #print(label)
    #print(content)
    if label == '주문일자':
        for v in content:
            print(label, ' : ' , v)
    elif label == 'ICUBE':
        for v in content:
            print(label, ' : ' , v)
            #df_temp['ICUBE'].append()
    elif label == 'IU':
        for v in content:
            print(label, ' : ' , v)
    elif label == 'GW':
        for v in content:
            print(label, ' : ' , v)

TypeError: cannot concatenate object of type "<class 'str'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [151]:
# 영업채널별 전체 발주 건수
df6['영업채널명'].value_counts().sort_values(ascending=False)

조회 건수 : 12건

아이원소프트뱅크       2
서울1 IT코디센터     2
도움이티에스         1
천안IT코디센터       1
비아이            1
서울2 IT코디센터     1
비앤에스컴퍼니        1
대구/경북IT코디센터    1
서울3 IT코디센터     1
다우아이티          1
Name: 영업채널명, dtype: int64

In [87]:
df6.head(3)

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일,CB,YM
157,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,3048000,신규,2019-02-26,B,2019-02
161,"서울3,4 IT코디센터(강원)",강원지점,윤명현,(재)스크립스코리아항체연구원,221-82-13262,2019-02-26,주문완료,주문완료,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,1200000,신규,2019-02-26,B,2019-02
179,"서울3,4 IT코디센터(강원)",강원지점,윤명현,강릉에코파워주식회사,226-81-50381,2018-07-11,주문완료,발송중,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,2268000,신규,2018-07-11,B,2018-07

In [103]:
# 인덱스를 YM(년월)으로 바꾼다
df8 = df6.copy()
#df8.set_index('YM')['2018-06':'2018-06']
df8.set_index('YM', inplace=True)
df8.sort_index(ascending=True, inplace=True)
print('조회 건수 : %d건' % df8.shape[0])
df8.head(3)

조회 건수 : 447건

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일,CB
YM,,,,,,,,,,,,,,,,,
2018-01,중부IT코디센터,중부IT코디센터,성민석,(주)다산에너지,314-86-53230,2018-01-16,주문완료,발송중,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,4320000,신규,2018-01-16,C
2018-01,NaN,다우아이티,오서연,(주)이뮨메드,221-81-16466,2018-01-31,주문완료,발송중,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,5160000,신규,2018-01-31,B
2018-01,"서울1,2 IT코디센터",서울2 IT코디센터,이기학,(주)코닉글로리,114-86-57392,2018-01-25,주문완료,발송중,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,4920000,신규,2018-01-25,C

In [121]:
# 인덱스로 시작:종료 구간을 지정하여 조회한다
print(df4.index.unique())
#df4['2018-06':'2018-06']
df4['2018-01':'2018-02'][{'영업채널명', '고객명', '주문일자', '상품명'}].head(3)

Index(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04'],
      dtype='object', name='YM')

              고객명       영업채널명        주문일자              상품명
YM
2018-01  (주)다산에너지    중부IT코디센터  2018-01-16  ICUBE/GW 클라우드서버
2018-01   (주)이뮨메드       다우아이티  2018-01-31  ICUBE/GW 클라우드서버
2018-01  (주)코닉글로리  서울2 IT코디센터  2018-01-25  ICUBE/GW 클라우드서버

In [123]:
df4.sort_values(by=['주문일자', '고객명'], ascending=True).head(3)

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,사용자,공급가,금액(VAT별도),판매유형,기회시작일,CB
YM,,,,,,,,,,,,,,,,,
2018-01,"서울1,2 IT코디센터",서울2 IT코디센터,이승준,(주)에이앤씨콜렉티브,211-86-97910,2018-01-11,주문완료,발송중,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,1920000,신규,2018-01-11,C
2018-01,중부IT코디센터,중부IT코디센터,성민석,(주)다산에너지,314-86-53230,2018-01-16,주문완료,발송중,일시납,ICUBE/GW 클라우드서버,클라우드서버(기본),1.0,0,4320000,신규,2018-01-16,C
2018-01,NaN,하이텍라인,이지현A,(주)동남기계,610-81-22436,2018-01-18,주문완료,주문완료,일시납,GW 클라우드서버,클라우드서버(기본),1.0,0,1800000,신규,2018-01-18,B