In [1]:
import pandas as pd
import xlrd
import os
import re
import datetime

In [2]:
DATA_PATH = "C:\\Temp\\NsmData\\"
file_name = "BizboxA_OrgListAll_20190419.xls"
excel_file = DATA_PATH + file_name

In [3]:
if not os.path.exists(excel_file):
    print('실패! ' + excel_file + ' file not found!! ')
    print('Exists files :')
    print(os.listdir(DATA_PATH))
    #exit()

In [50]:
df = pd.read_excel(excel_file, Sheet_name='Sheet1')

In [188]:
#read_columns = ['부서명', '직급', '사원명(ID)', '휴대전화', '회사메일']
read_columns = ['부서명', '직급', '사원명(ID)', '회사메일']
df1 = df[read_columns]
print('조회 건수 : %d건' % df1.shape[0])
df1.head(3)

조회 건수 : 1403건

                                부서명  직급       사원명(ID)                 회사메일
0  더존비즈온>Channel사업본부>Channel영업1팀>팀원  대리   신민식(msshin)   msshin@douzone.com
1  더존비즈온>Channel사업본부>Channel영업1팀>팀원  대리  이윤정(lyj3837)  lyj3837@douzone.com
2  더존비즈온>Channel사업본부>Channel영업1팀>팀장  부장  안성민(dream74)  dream74@douzone.com

In [189]:
# 연산속도 비교 테스트
%timeit df1[df1['부서명'].str.match(r'.*IT코디센터>(센터장|팀원|팀장)$')] #IT코디센터 팀명 발췌
print('-'*30)
%timeit df1[df1['부서명'].str.contains(r'.*IT코디센터>(센터장|팀원|팀장)$', regex=True)] #IT코디센터 팀명 발췌

1.13 ms ± 14.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

2.76 ms ± 67.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [190]:
#IT코디센터, 강원지점, 제주지점 팀명 발췌
df2 = df1[df1['부서명'].str.match(r'.*(IT코디센터|강원지점|제주지점)>(센터장|팀원|팀장)$')] 
print('조회 건수 : %d건' % df2.shape[0])
df2.head(3)

조회 건수 : 175건

                    부서명  직급          사원명(ID)                   회사메일
963  더존비즈온>TS본부>강원지점>팀원  사원    박종현(cobo1113)   cobo1113@douzone.com
964  더존비즈온>TS본부>강원지점>팀원  사원  김진호A(kimjh3141)  kimjh3141@douzone.com
965  더존비즈온>TS본부>강원지점>팀장  부장     윤명현(hot8714)    hot8714@douzone.com

In [191]:

s1 = df2.loc[:, '부서명'].str.replace(r'(.*?>TS본부>)|(.*?>IT코디센터>)|((IT코디센터|지점)>(센터장|팀원|팀장)$)', '') # IT코디센터 이름만 추출하여 새컬럼에 반영
df2.loc[:, '센터명'] = s1
print('조회 건수 : %d건' % df2.shape[0])
print(df2['센터명'].value_counts())
df2.head(3)

조회 건수 : 175건
대구/경북    18
서울1      17
서울3      16
서울2      16
서울4      16
경기       13
부산       12
경남       11
인천       11
중부        8
호남        8
천안        8
전주        8
울산        7
제주        3
강원        3
Name: 센터명, dtype: int64

                    부서명  직급          사원명(ID)                   회사메일 센터명
963  더존비즈온>TS본부>강원지점>팀원  사원    박종현(cobo1113)   cobo1113@douzone.com  강원
964  더존비즈온>TS본부>강원지점>팀원  사원  김진호A(kimjh3141)  kimjh3141@douzone.com  강원
965  더존비즈온>TS본부>강원지점>팀장  부장     윤명현(hot8714)    hot8714@douzone.com  강원

In [192]:
# 사원명 , ID 추가
df2.loc[:, '사원명'] = df2.loc[:, '사원명(ID)'].str.replace(r'[^가-힣]', '') # 한글 이름 이외 글자 제거 (한글이름, 영문제외)
df2.loc[:, 'ID'] = df2.loc[:, '사원명(ID)'].str.replace(r'([가-힣]|([a-zA-Z]\()|\(|\))', '') # 가로안의 ID이외 글자 제거
df2.head(5)

,부서명,직급,사원명(ID),회사메일,센터명,사원명,ID
963,더존비즈온>TS본부>강원지점>팀원,사원,박종현(cobo1113),cobo1113@douzone.com,강원,박종현,cobo1113
964,더존비즈온>TS본부>강원지점>팀원,사원,김진호A(kimjh3141),kimjh3141@douzone.com,강원,김진호,kimjh3141
965,더존비즈온>TS본부>강원지점>팀장,부장,윤명현(hot8714),hot8714@douzone.com,강원,윤명현,hot8714
966,더존비즈온>TS본부>경기IT코디센터>센터장,부장,김경한(threego),threego@douzone.com,경기,김경한,threego
967,더존비즈온>TS본부>경기IT코디센터>팀원,차장,김완주(hemikwj05),hemikwj05@douzone.com,경기,김완주,hemikwj05

In [197]:
# 직급코드 추가
level_categories = {'사원':'', '대리':'D', '과장':'K', '차장':'C', '부장':'B', '이사':'E', '상무':'S', '전무':'J'}

# method 1
df2.loc[:,'직급코드'] = df2['직급'].apply(lambda x : level_categories[x])   

# method 2  cf. level_categories.get('과장') return 'k'
#df2.loc[:,'직급코드']  = df2[['직급']].applymap(level_categories.get)   

print('조회 건수 : %d건' % df2.shape[0])

df2.head(3)

조회 건수 : 175건

,부서명,직급,사원명(ID),회사메일,센터명,사원명,ID,직급코드
963,더존비즈온>TS본부>강원지점>팀원,사원,박종현(cobo1113),cobo1113@douzone.com,강원,박종현,cobo1113,
964,더존비즈온>TS본부>강원지점>팀원,사원,김진호A(kimjh3141),kimjh3141@douzone.com,강원,김진호,kimjh3141,
965,더존비즈온>TS본부>강원지점>팀장,부장,윤명현(hot8714),hot8714@douzone.com,강원,윤명현,hot8714,B

In [202]:
df2.to_csv('./data/center_employee.csv', index = False, header = True, encoding='utf-8')

In [203]:
df3 = pd.DataFrame({"직급":['사원', '대리', '과장', '차장', '부장', '이사', '상무', '전무'], 
     '직급코드':['', 'D', 'K', 'C', 'B', 'E', 'S', 'J']})
df3

   직급 직급코드
0  사원
1  대리    D
2  과장    K
3  차장    C
4  부장    B
5  이사    E
6  상무    S
7  전무    J

In [140]:
df_sale = pd.DataFrame({"연봉":[100, 200, 300, 400, 500, 600, 700, 800], 
     '직급코드':['', 'D', 'K', 'C', 'B', 'E', 'S', 'J']})

In [142]:
pd.merge(df3, df_sale, on='직급코드')

   직급 직급코드   연봉
0  사원       100
1  대리    D  200
2  과장    K  300
3  차장    C  400
4  부장    B  500
5  이사    E  600
6  상무    S  700
7  전무    J  800

조회 건수 : 175건

,부서명,직급,사원명(ID),회사메일
963,더존비즈온>TS본부>강원지점>팀원,사원,박종현(cobo1113),cobo1113@douzone.com
964,더존비즈온>TS본부>강원지점>팀원,사원,김진호A(kimjh3141),kimjh3141@douzone.com
965,더존비즈온>TS본부>강원지점>팀장,부장,윤명현(hot8714),hot8714@douzone.com
966,더존비즈온>TS본부>경기IT코디센터>센터장,부장,김경한(threego),threego@douzone.com
967,더존비즈온>TS본부>경기IT코디센터>팀원,차장,김완주(hemikwj05),hemikwj05@douzone.com
968,더존비즈온>TS본부>경기IT코디센터>팀원,과장,이상규(spiritsk),spiritsk@douzone.com
969,더존비즈온>TS본부>경기IT코디센터>팀원,사원,최홍규(chk501),chk501@douzone.com
970,더존비즈온>TS본부>경기IT코디센터>팀원,사원,추영엽(spine424),spine424@douzone.com
971,더존비즈온>TS본부>경기IT코디센터>팀원,대리,강석준(firenights85),firenights85@douzone.com
972,더존비즈온>TS본부>경기IT코디센터>팀원,사원,김하영(gkdud6352),gkdud6352@douzone.com
973,더존비즈온>TS본부>경기IT코디센터>팀원,대리,조왕훈(cohpd111),cohpd111@douzone.com
974,더존비즈온>TS본부>경기IT코디센터>팀원,부장,전용기(ykjean),ykjean@douzone.com
975,더존비즈온>TS본부>경기IT코디센터>팀원,과장,김세중(ksj0630),ksj0630@douzone.com
976,더존비즈온>TS본부>경기IT코디센터>팀원,부장,류영규(ddok93),ddok93@douzone.com
977,더존비즈온>TS본부>경기IT코디센터>팀원,과장,신인원(siw7552),siw7552@douzone.com
978,더존비즈온>TS본부>경기IT코디센터>팀원,부장,박성순(parkss),parkss@douzone.com
980,더존비즈온>TS본부>서울1IT코디센터>센터장,부장,반석재(bansj),bansj@douzone.com
981,더존비즈온>TS본부>서울1IT코디센터>팀원,사원,김성욱(wook0630),wook0630@douzone.com
982,더존비즈온>TS본부>서울1IT코디센터>팀원,대리,임선묵(blast3),blast3@douzone.com
983,더존비즈온>TS본부>서울1IT코디센터>팀원,부장,김태관(starleaf7),starleaf7@douzone.com
984,더존비즈온>TS본부>서울1IT코디센터>팀원,차장,정민(minj),minj@douzone.com
985,더존비즈온>TS본부>서울1IT코디센터>팀원,과장,장태호(thjang81),thjang81@douzone.com
986,더존비즈온>TS본부>서울1IT코디센터>팀원,사원,김영배(parisfly),parisfly@douzone.com
987,더존비즈온>TS본부>서울1IT코디센터>팀원,사원,김민지C(qheosu618),qheosu618@douzone.com
988,더존비즈온>TS본부>서울1IT코디센터>팀원,사원,류수광(goodjob),goodjob@douzone.com
989,더존비즈온>TS본부>서울1IT코디센터>팀원,대리,김호겸(gaemi027),gaemi027@douzone.com
990,더존비즈온>TS본부>서울1IT코디센터>팀원,과장,박병훈(ahnnyoung),ahnnyoung@douzone.com
991,더존비즈온>TS본부>서울1IT코디센터>팀원,대리,이승범(issb1085),issb1085@douzone.com
992,더존비즈온>TS본부>서울1IT코디센터>팀원,차장,박광순(pks3433),pks3433@douzone.com
993,더존비즈온>TS본부>서울1IT코디센터>팀원,과장,송재웅(kuroyume21),kuroyume21@douzone.com
...,...,...,...,...
1233,더존비즈온>부산/영남사업본부>IT코디센터>대구/경북IT코디센터>팀원,사원,이동규B(dongu93),dongu93@douzone.com
1234,더존비즈온>부산/영남사업본부>IT코디센터>대구/경북IT코디센터>팀원,사원,김소설(soseol27),soseol27@douzone.com
1235,더존비즈온>부산/영남사업본부>IT코디센터>대구/경북IT코디센터>팀원,대리,구병효(rnqudgy),rnqudgy@douzone.com
1236,더존비즈온>부산/영남사업본부>IT코디센터>대구/경북IT코디센터>팀원,대리,권용림(yongrim),yongrim@douzone.com
1237,더존비즈온>부산/영남사업본부>IT코디센터>대구/경북IT코디센터>팀원,대리,왕형진(king0660),king0660@douzone.com
1238,더존비즈온>부산/영남사업본부>IT코디센터>대구/경북IT코디센터>팀원,대리,홍성찬(winwin18),winwin18@douzone.com
1239,더존비즈온>부산/영남사업본부>IT코디센터>대구/경북IT코디센터>팀원,차장,주정돈(wjdehs),wjdehs@douzone.com
1240,더존비즈온>부산/영남사업본부>IT코디센터>대구/경북IT코디센터>팀원,차장,변상구(together9),together9@douzone.com
1241,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>센터장,부장,장성호(rok728),rok728@douzone.com
1242,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,사원,서명균(sabpigs),sabpigs@douzone.com
1243,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,과장,문성원(ansgodlf),ansgodlf@douzone.com
1244,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,과장,이혁진(redsky39),redsky39@douzone.com
1245,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,사원,김성종(sjongkim),sjongkim@douzone.com
1246,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,사원,황수애(sahwang),sahwang@douzone.com
1247,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,사원,차수진(sujin),sujin@douzone.com
1248,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,사원,정진훈(jjhandhh),jjhandhh@douzone.com
1249,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,사원,심정민(goodsay456),goodsay456@douzone.com
1250,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,사원,이상민(rngdr12),rngdr12@douzone.com
1251,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,부장,이택일(commando),commando@douzone.com
1252,더존비즈온>부산/영남사업본부>IT코디센터>부산IT코디센터>팀원,차장,윤점혁(younhal),younhal@douzone.com
1253,더존비즈온>부산/영남사업본부>IT코디센터>울산IT코디센터>센터장,부장,이민우(gomoojul),gomoojul@douzone.com
1254,더존비즈온>부산/영남사업본부>IT코디센터>울산IT코디센터>팀원,과장,장태환(prizes99),prizes99@douzone.com
1255,더존비즈온>부산/영남사업본부>IT코디센터>울산IT코디센터>팀원,대리,김철민(steelpeople),steelpeople@douzone.com
1256,더존비즈온>부산/영남사업본부>IT코디센터>울산IT코디센터>팀원,사원,김승리(ksr337),ksr337@douzone.com
1257,더존비즈온>부산/영남사업본부>IT코디센터>울산IT코디센터>팀원,부장,신연수(su053),su053@douzone.com
1258,더존비즈온>부산/영남사업본부>IT코디센터>울산IT코디센터>팀원,차장,박대진(djp0408),djp0408@douzone.com
1259,더존비즈온>부산/영남사업본부>IT코디센터>울산IT코디센터>팀원,차장,이동희(playerx),playerx@douzone.com
1260,더존비즈온>부산/영남사업본부>IT코디센터>제주지점>팀원,사원,고동균(kdk),kdk@douzone.com
1261,더존비즈온>부산/영남사업본부>IT코디센터>제주지점>팀원,대리,김경민(kkm3252),kkm3252@douzone.com
1262,더존비즈온>부산/영남사업본부>IT코디센터>제주지점>팀장,부장,이상훈(lshlover),lshlover@douzone.com